<div class="primary-container clearfix">
    <div class="secondary-container">
        <h1>Customer Orders</h1>
        {{#each orders }}
            <div class="thumbnail  clearfix" style="width: 100%; text-align: left;">
                <div class="caption pull-right">
                    <a href="/products/{{ this._product._id }}"><h3>{{ this._product.title }}</h3></a>
                    <p>Purchase Date : {{ this.purchase_date }}</p>
                    <p class="inner-text">Name: {{ this.name }}</p>
                    <p class="inner-text">Email: {{ this.email }}</p>
                    <p class="inner-text">Total Downloads: {{ this.download }}</p>
                    <p class="price-text full-price">${{ this.amount }}</p>
                </div>
                <div class="image-container">
                    <a class="clearfix" href="/products/{{ this._product._id }}">
                        <img src="{{ this._product.image_path }}" alt="...">
                    </a>
                </div>
            </div>
        {{/each }}
        {{#unless orders }}
            <h3 style="color: #6A7C94">No orders to show right now.</h3>
        {{/unless }}
    </div>
</div>