<div class="primary-container clearfix">
    <h1>{{ this.title }}</h1>

    {{#each products }}
        <div class="row clearfix">
            {{#each this }}
                <div class="thumbnail  clearfix">
                    <div class="caption pull-right">
                        <h2 style="margin: 0;"></h2>
                        <a href="/products/{{ this._id }}"><h3>{{ this.order }}: {{ this.title }}</h3></a>
                        <p class="inner-text">Created at: {{ this.created_at }}</p>
                        <p class="inner-text">Description: {{ this.description }}</p>
                        <p class="inner-text">Total Downloads: {{ this.download }}</p>
                        <p class="price-text full-price">${{ this.price }}</p>
                        <a href="/user/account/update-product/{{ this._id }}">Edit</a>
                        </br>
                        <a href="/user/account/delete-product/{{ this._id }}">Delete</a>
                    </div>
                    <div class="image-container">
                        <a class="clearfix" href="/products/{{ this._id }}">
                            <img src="{{ this.image_path }}" alt="..."/>
                        </a>
                    </div>
                </div>
            {{/each }}
        </div>
    {{/each }}

    {{#unless products }}
        <div class="form-container" style="text-align: center">
            <div class="sell-info-container">
                <h3>You’re ready to get paid!</h3>
                <form action="/user/account/add-product" method="GET">
                    <button type="submit">Add Product</button>
                </form>
            </div>
        </div>
    {{/unless }}
</div>