<style>
    
</style>

<div class='main-wrapper'>
  
    {{#each mainProduct }}
    <div class='hero-image video-responsive'>
        {{#if this.video_url }}
            <iframe class="video-player" src="{{this.video_url}}" frameborder="0" allow="autoplay; encrypted-media" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        {{else }}
            <img class="main-image" src="{{this.image_path}}"/>
        {{/if }}
        <div class='hero-content'>
        <div class='hc-label'>{{this.title}}</div>
        <div class='hc-desc'>{{this.description}}</div>
            <div class='hc-footer'>
                <div class='hcf-comments'><a href="/products/{{this._id}}"><img src="/img/download-interface-symbol.svg" alt="..." height="12.5px" width="12.5px" /> Download</a></div>
                <div class='hcf-divider'></div>
                <div class='hcf-shares'>
                    <form class="rating" style="width: 138px;">
                        <input {{#five}}checked{{/five}} type="radio" id="star5" name="rating" value="5" disabled />
                            <label class = "full" for="star5"></label>
                        <input {{#fourhalf}}checked{{/fourhalf}} type="radio" id="star4.5" name="rating" value="4.5" disabled />
                            <label class = "half" for="star4.5"></label>
                        <input {{#four}}checked{{/four}} type="radio" id="star4" name="rating" value="4" disabled />
                            <label class = "full" for="star4"></label>
                        <input {{#threehalf}}checked{{/threehalf}} type="radio" id="star3.5" name="rating" value="3.5" disabled />
                            <label class = "half" for="star3.5"></label>
                        <input {{#three}}checked{{/three}} type="radio" id="star3" name="rating" value="3" disabled />
                            <label class = "full" for="star3"></label>
                        <input {{#twohalf}}checked{{/twohalf}} type="radio" id="star2.5" name="rating" value="2.5" disabled />
                            <label class = "half" for="star2.5"></label>
                        <input {{#two}}checked{{/two}} type="radio" id="star2" name="rating" value="2" disabled />
                            <label class = "full" for="star2"></label>
                        <input {{#onehalf}}checked{{/onehalf}} type="radio" id="star1.5" name="rating" value="1.5" disabled />
                            <label class = "half" for="star1.5"></label>
                        <input {{#one}}checked{{/one}} type="radio" id="star1" name="rating" value="1" disabled />
                            <label class = "full" for="star1"></label>
                        <input {{#half}}checked{{/half}} type="radio" id="star.5" name="rating" value=".5" disabled />
                            <label class = "half" for="star.5"></label>
                    </form>
                </div>
                <div class='hcf-toggle'>
                    <p class='hcft-label'>More Downloads</p>
                    <div class='hcft-icon-holder'>
                        <i class='hcft-icon closed fa fa-chevron-down'></i>
                        <i class='hcft-icon opened fa fa-times'></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{/each }}
  
    <div class='scroll-content'>
        {{#each products }}
            {{!-- <div class='sc-row'>
                {{#each this }} --}}
                    <div class='content-article'>
                        <div class='article-number'>0{{this.count}}</div>
                        <div class='article-info'>
                            <div class='ai-label'>{{this.title}}</div>
                            <div class='ai-desc'>{{this.description}}</div>
                            <div class='ai-footer'>
                                <div class='aif-comments'><a href="/products/{{this._id}}"><img src="/img/download-interface-symbol.svg" alt="..." height="12.5px" width="12.5px" /> Download</a></div>
                                <div class='aif-divider'></div>
                                <div class='aif-shares'>
                                    <form class="rating" style="width: 138px;">
                                        <input {{#five}}checked{{/five}} type="radio" id="star5" name="rating" value="5" disabled />
                                            <label class = "full" for="star5"></label>
                                        <input {{#fourhalf}}checked{{/fourhalf}} type="radio" id="star4.5" name="rating" value="4.5" disabled />
                                            <label class = "half" for="star4.5"></label>
                                        <input {{#four}}checked{{/four}} type="radio" id="star4" name="rating" value="4" disabled />
                                            <label class = "full" for="star4"></label>
                                        <input {{#threehalf}}checked{{/threehalf}} type="radio" id="star3.5" name="rating" value="3.5" disabled />
                                            <label class = "half" for="star3.5"></label>
                                        <input {{#three}}checked{{/three}} type="radio" id="star3" name="rating" value="3" disabled />
                                            <label class = "full" for="star3"></label>
                                        <input {{#twohalf}}checked{{/twohalf}} type="radio" id="star2.5" name="rating" value="2.5" disabled />
                                            <label class = "half" for="star2.5"></label>
                                        <input {{#two}}checked{{/two}} type="radio" id="star2" name="rating" value="2" disabled />
                                            <label class = "full" for="star2"></label>
                                        <input {{#onehalf}}checked{{/onehalf}} type="radio" id="star1.5" name="rating" value="1.5" disabled />
                                            <label class = "half" for="star1.5"></label>
                                        <input {{#one}}checked{{/one}} type="radio" id="star1" name="rating" value="1" disabled />
                                            <label class = "full" for="star1"></label>
                                        <input {{#half}}checked{{/half}} type="radio" id="star.5" name="rating" value=".5" disabled />
                                            <label class = "half" for="star.5"></label>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <image class="secondary-image" src="{{this.image_path}}"/>
                    </div>
                {{!-- {{/each }}
            </div> --}}
        {{/each }}
    </div>
</div>

<script>
    $('.hcft-icon').click(function() {
        $('.hero-image').toggleClass('browsing-content');
    });
</script>

